streamlit   
# Utilities
numpy
pandas

# Face Recognition
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

# Databases
supabase
bcrypt # hashing our passwords

segno # generating QR code
pillow # image preprocessing


librosa
resemblyzer 